
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

venv/
.env
.env.*

backend/data/
backend/*.csv
backend/*.zip


hemoglobin_svr_model.pkl

node_modules/
dist/
build/


frontend/**/.env
frontend/**/.env.*

*.log

.DS_Store
.vscode/
.idea/

FINAL.zip
